.logo{
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 60px;
}

body {
	background-color: #eee;
	padding:0 15px;
  font-family: "Roboto","Helvetica Neue",Helvetica,"Source Han Sans CN",Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}

audio, canvas, progress, video {
	position: static;
}

@import url("../../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../../node_modules/font-awesome/css/font-awesome.min.css");
@import url("../style/paper/css/bootswatch.paper.css");
@import url("../style/paper/css/paper.css");
@import url("../style/fonts/css/fonts.roboto.css");

