/* DataTable Component Style CSS */
table thead th a.ui-table-header-sort {
	width: 10px;
	height: 10px;
	text-decoration: none;
}

/*.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;	
}*/

td.details-control {
	background: url('../images/details_open.png') no-repeat center center;
	cursor: pointer;
}

tr.details td.details-control {
	background: url('../images/details_close.png') no-repeat center center;
}
/*
table.table-bordered tbody th, table.table-bordered tbody td {
	border-right: 0px;
}*/

.table > thead > tr > th {
	border-bottom: 2px solid #dddddd;
}
/*
td>.outPutText {
	color: #2196f3;
	font-size: 13px;
	line-height: 1.8;
}
*/
.nav-pills > li.active > a.ui-tab-delete,
.nav-pills > li > a.ui-tab-delete,
.nav-tabs > li.active > a.ui-tab-delete,
.nav-tabs > li > a.ui-tab-delete {
	display: block;
	position: absolute;
	float: right;
	top: 0;
	right: 2px;
	padding: 0;
	cursor: pointer;
	box-shadow: none;
}

.nav-pills > li > a.ui-tab-add {
	padding: 5px;
}


.datatable-sort-icon-position
{
	padding-top:5px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
	vertical-align: middle;
}