/* TreeTable Component Style CSS */
table.treetable {
	/*border-radius: 10px;*/
	border: 1px solid #eeeeee;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

table.treetable thead tr th {
	height: 30px;
	font-size: 14px;	
	font-weight: bold;
	/*border-left: 0px;
	border-right: 0px;*/
}

table.treetable tbody tr td {
	height: 25px;
	font-size: 14px;
	border-bottom: 1px dashed #eeeeee;
}
